@use "../global/colors";
@use "../global/typo";

@media print {
  @page {
    margin: 2cm 3cm 2cm 4cm;

    @bottom-center {
      color: black;
      text-align: center;
      width: 100%;
      font-size: 8pt;
    }

    @bottom-right-corner {
      content: counter(page) " / " counter(pages) ;
      color: black;
      text-align: center;
      width: 100%;
      font-size: 8pt;
    }

    // content comes directly from the html markup
    @bottom-left-corner {
      color: black;
      text-align: center;
      width: 100%;
      font-size: 8pt;
    }
  }

  @page projects {
    margin: 2cm 2cm 2cm 2cm;
  }

  @page :first {
    @bottom-center {
      content: "" !important;
    }
    @bottom-right-corner {
      content: "";
    }
  }
}

html {
  width: 21cm;
  margin: auto;
  print-color-adjust: exact;

  @media print {
    width: 100%;
    border: none;
    margin: initial;
  }

  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

body {
  margin: 0 2cm 0 4cm;

  @media print {
    margin: initial;
  }
}

* {
  line-height: 1.4em;
  font-size: 12pt;
}

h1 {

}

h2 {
  font-size: 30pt;
  margin-top: 0;

  strong {
    font-size: 30pt;
  }
}

h4 {
  margin-bottom: 5mm;
  font-weight: 600;
}

p {
  margin-bottom: 5mm;
}

.section-footer {
  display: none;
}


section {
  break-before: page;

  &:nth-child(1) {
    break-before: initial;
    break-after: page;
  }

  @media print {
    padding: 0;
  }
}

.button-block {
  display: none;
}


.section-first-page {

  height: 100%;

  h1 {
    margin-top: 5cm;
    font-size: 30pt;
    font-weight: 300;
    text-align: right;
  }

  h2 {
    font-size: 18pt;
    font-weight: 300;
    text-align: right;
  }

  .info-box {
    margin-top: 10cm;
    width: 10cm;
    float: right;
    text-align: right;
    line-height: 40pt;

    .bot {
      margin-top: 1cm;
      display: inline-block;
    }
  }
}


.section-person {
  break-after: avoid;

  .container {
  }

  .content {
    .text {

    }

    .image {
      display: none;
    }
  }

  .specs {
    margin: 2cm auto 0 2cm;
    display: block;
    overflow: hidden;
    break-inside: avoid;

    .block {
      display: block;
      margin-bottom: 0;
      overflow: hidden;

      &:nth-child(odd) {
      }

      &:nth-child(even) {
        transform: translateX(4cm);
      }

      .row {
        margin-bottom: 5mm;
      }

      .label {
        display: block;
        font-size: 8pt;
      }

      .social-icons {
        .row {
          width: 100%;
          overflow: hidden;

          i {
            transform: translateY(2mm);
            display: inline-block;
          }
        }
      }
    }
  }
}

.section-vita {

  .vita {
    break-before: auto;
    break-after: auto;
    break-inside: avoid;
    margin-bottom: 1cm;

    &--company {
      font-size: 10pt;
      margin-top: 5mm;

      &--city {
        font-size: 10pt;
      }
    }

    &--company-industry {
      font-size: 10pt;
    }

    &--description {
      margin-top: 5mm;
      font-size: 10pt;
    }

    &--work {
      margin-bottom: 5mm;
      font-size: 10pt;

      &--item {
        font-size: 10pt;
      }
    }

    &--stack {
      margin-bottom: 5mm;
      font-size: 11pt;

      &--skill {
        padding: 2pt 6pt;
        background-color: #eeeeee;
        margin: 0 0 1mm 0;
        display: inline-block;
        border-radius: 5mm;
        color: black;
        line-height: 12pt;
        font-size: 10pt;
      }
    }
  }

  .info-box {
    margin-top: 2cm;
    background-color: #eeeeee;
    padding: 4mm 1cm 4mm 6mm;
    display: block;
    border-radius: 2mm;
    font-size: 10pt;

    strong {
      font-size: 10pt;
    }

    .bot {
      vertical-align: middle;
      margin-right: 4mm;
    }
  }
}

.section-skills {
  break-before: page;

  .search {
    display: none;
  }

  h3 {
    font-size: typo.$fs-s;
    margin-bottom: 5mm;
  }

  .skill-level {
    margin-bottom: 5mm;
  }

  .skill {
    padding: 2pt 6pt;
    background-color: #eeeeee;
    margin: 0 2mm 2mm 0;
    display: inline-block;
    border-radius: 5mm;
    color: black;
    line-height: 12pt;
    font-size: 12pt;
  }

}

.section-projects {
  page: projects;

  .projects {
    overflow: hidden;
  }

  .project {
    display: inline-block;
    break-inside: avoid;
    overflow: hidden;
    margin-bottom: 1cm;
    width: calc(50% - 2mm);
    float: left;

    &:nth-child(odd) {
      margin-right: 4mm;
    }

    &--head {
      display: inline-block;

      .text {
        font-size: 10pt;
        padding: 2mm 0;
      }
    }

    &--image {
      width: 100%;
      max-height: 4cm;
      display: block;
      overflow: hidden;
    }
  }

  h2 {
    margin-top: 2cm;
  }

  h3 {
    margin-bottom: 2mm;
    font-size: 10pt;
    font-weight: 800;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .text-block {
    margin-top: 5mm;

    h2 {
      display: none;
    }

    p {
      font-size: 10pt;
      line-height: 20pt;
      break-inside: avoid;
      break-before: auto;
    }
  }

  .info-box {
    width: 100%;
    margin-top: 2cm;
    background-color: #eeeeee;
    padding: 4mm 1cm 4mm 6mm;
    display: block;
    border-radius: 2mm;
    font-size: 10pt;
    overflow: hidden;
    break-inside: avoid;

    strong {
      font-size: 10pt;
    }

    .bot {
      vertical-align: middle;
      margin-right: 4mm;
    }
  }
}