@use "../global/colors";
@use "../global/typo";

@media print {
  @page {
    margin: 2cm 3cm 2cm 4cm;

    @bottom-center {
      color: black;
      text-align: center;
      width: 100%;
      font-size: typo.$fs-xs;
    }

    @bottom-right-corner {
      content: counter(page) " / " counter(pages) ;
      color: black;
      text-align: center;
      width: 100%;
      font-size: typo.$fs-xs;
    }

    // content comes directly from the html markup
    @bottom-left-corner {
      color: black;
      text-align: center;
      width: 100%;
      font-size: typo.$fs-xs;
    }
  }
  

  /*@page :first {
    @bottom-center {
      content: "";
    }
    @bottom-right-corner {
      content: "";
    }
  }*/
}

html {
  width: 21cm;
  margin: auto;
  print-color-adjust: exact;

  @media print {
    width: 100%;
    border: none;
    margin: initial;
  }

  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

body {
  margin: 0 2cm 0 4cm;
  page: main;

  @media print {
    margin: initial;
  }
}

* {
  line-height: 1.4em;
  font-size: 12pt;
}

h1 {

}

h2 {
  font-size: 30pt;
  margin-top: 0;

  strong {
    font-size: 30pt;
  }
}

h4 {
  margin-bottom: 5mm;
  font-weight: 600;
}

p {
  margin-bottom: 5mm;
}

.section-footer {
  display: none;
}

section {
  break-before: page;

  &:nth-child(1) {
    break-before: initial;
    break-after: page;
  }

  @media print {
    padding: 0;
  }
}

.button-block {
  display: none;
}

.section-person {
  break-after: avoid;
  page: person;

  .container {
  }

  .content {
    .text {

    }

    .image {
      display: none;
    }
  }

  .specs {
    margin: 2cm auto 0 2cm;
    display: block;
    overflow: hidden;
    break-inside: avoid;

    .block {
      display: block;
      margin-bottom: 0;
      overflow: hidden;

      &:nth-child(odd) {
      }

      &:nth-child(even) {
        transform: translateX(4cm);
      }

      .row {
        margin-bottom: 5mm;
      }

      .label {
        display: block;
        font-size: typo.$fs-xs;
      }
    }
  }
}

.section-vita {

  .vita {
    break-before: auto;
    break-after: auto;
    break-inside: avoid;
    margin-bottom: 1cm;

    &--company {
      font-size: 10pt;
      margin-top: 5mm;

      &--city {
        font-size: 10pt;
      }
    }

    &--company-industry {
      font-size: 10pt;
    }

    &--description {
      margin-top: 5mm;
      font-size: 10pt;
    }

    &--work {
      margin-bottom: 5mm;
      font-size: 10pt;

      &--item {
        font-size: 10pt;
      }
    }

    &--stack {
      margin-bottom: 5mm;
      font-size: 11pt;

      &--skill {
        padding: 2pt 6pt;
        background-color: #eeeeee;
        margin: 0 0 1mm 0;
        display: inline-block;
        border-radius: 5mm;
        color: black;
        line-height: 12pt;
        font-size: 10pt;
      }
    }

  }
}

.section-skills {
  break-before: page;

  .search {
    display: none;
  }

  h3 {
    font-size: typo.$fs-s;
    margin-bottom: 5mm;
  }

  .skill-level {
    margin-bottom: 5mm;
  }

  .skill {
    padding: 2pt 6pt;
    background-color: #eeeeee;
    margin: 0 2mm 2mm 0;
    display: inline-block;
    border-radius: 5mm;
    color: black;
    line-height: 12pt;
    font-size: 10pt;
  }

}