<section class="section-disclaimer" data-section="disclaimer" data-url-path="impressum" data-scroll>
    <div class="disclaimer">
        <h2 class="">Impressum</h2>
        <hr>
        <div class="disclaimer--text">
            <div class="block">
                <div class="bot">${icons.bot}</div>
            </div>
            <div class="block">
                ${text.md()}
            </div>
        </div>
        <hr>
        <div class="disclaimer--contact">
            <div class="block">
                <h3>Kontakt</h3>
                <div class="row">
                    ${contact.phone}
                </div>
                <div class="row">
                    ${contact.email}
                </div>
            </div>
            <div class="block">
                <h3>Social</h3>
                <div class="row social-icons">
                    ${social.map(s => `
                    <a href="${s.url}" target="_blank" class="icon ${s.icon}" alt="${s.name}">${icons[s.icon]}</a>
                    `).join('')}
                </div>
            </div>

        </div>
        <hr>
        <div class="disclaimer--package">
            <div class="block">
                <h3>Verwendete Pakete</h3>
                <ul>
                    ${Object.keys(dependencies).map(d => `
                    <li>${d}</li>
                    `).join('')}
                </ul>
            </div><div class="block">
                <h3>Verwendete Technologie</h3>
                <ul>
                    ${Object.keys(tech).map(d => `
                    <li>${tech[d]}</li>
                    `).join('')}
                </ul>
            </div>

        </div>
        <hr>
    </div>
    ${sectionFooter}
</section>