<header class="splash">
    <ul class="menu">
        <li class="home"><a href="/" data-scroll-target="splash">Home</a></li>
        <li class="person"><a href="/person" data-scroll-target="person">Person</a></li>
        <li class="vita"><a href="/vita" data-scroll-target="vita">Vita</a></li>
        <li class="skills"><a href="/skills" data-scroll-target="skills">Skills</a></li>
        <li class="services"><a href="/services" data-scroll-target="services">Services</a></li>
        <li class="projects"><a href="/projekte" data-scroll-target="projects">Projekte</a></li>
        <li class="impress"><a href="/impressum" data-scroll-target="disclaimer">Impressum</a></li>
    </ul>
    <div class="burger" data-burger>${icon}</div>
</header>