<header class="splash">
<ul class="menu">
    <li class="home" data-scroll-target="splash">Home</li>
    <li class="person"  data-scroll-target="person">Person</li>
    <li class="vita"  data-scroll-target="vita">Vita</li>
    <li class="skills"  data-scroll-target="skills">Skills</li>
    <li class="services"  data-scroll-target="services">Services</li>
    <li class="projects"  data-scroll-target="projects">Projekte</li>
    <li class="impress"  data-fixed-target="impress">Impressum</li>
</ul>
</header>