<section class="section-person" data-section="person" data-scroll>
    <h2 class="">me, <strong class="one">myself</strong> <strong class="two">and i</strong></h2>
    <div class="container">
        <div class="content">
            <div class="image">
                <img src="images/me.jpg?s=s" alt="me">
            </div>
            <div class="text">
                ${(text.md())}
            </div>
            <div class="specs">
                <div class="block">
                    <h4>Zur Person</h4>
                    <div class="row">
                        <span class="label">Berufsbezeichnung</span>${job}
                    </div>
                    <div class="row">
                        <span class="label">Baujahr</span>${birthYear} (${age}) in ${birthCity}
                    </div>
                    <div class="row">
                        <span class="label">Wohnsitz</span>${city}
                    </div>
                </div>
                <div class="block">
                    <h4>Ausbildung</h4>
                    ${education.map(ed => `
                    <div class="row">
                        <span class="label">${ed.dateFrom} - ${ed.dateTo}</span>
                        ${ed.title}
                        <span class="label">${ed.location}</span>
                    </div>
                    `).join('')}
                </div>
                <div class="block">
                    <h4>Sprachen</h4>
                    ${languages.map(l => `
                    <div class="row">
                        <span class="label">${l.title}</span>${l.level}
                    </div>
                    `).join('')}
                </div>
                <div class="block">
                    <h4>Kontakt</h4>
                    <div class="row">
                        ${contact.phone}
                    </div>
                    <div class="row">
                        ${contact.email}
                    </div>
                    <h4>Social</h4>
                    <div class="row social-icons">
                        ${social.map(s => `
                            <a href="${s.url}" target="_blank" class="icon icon--${s.icon}" alt="${s.name}">${icons[s.icon]}</a>
                        `).join('')}
                    </div>
                </div>

            </div>
        </div>
    </div>
    ${sectionFooter}
</section>