<section class="section-services" data-section="services" data-scroll>
    <h2 class="">Services</h2>
    <div class="container">
        <div class="services">
            ${services.map(s => `
            <div class="service" data-name="${s.icon}">
                <div class="icon">${icons[s.icon]}</div>
                <h3 class="name">${s.name}</h3>
                <div class="text">${s.text_short.md()}</div>
            </div>
            `).join('')}
            <div class="service empty" data-name="empty-first"></div>
            <div class="service empty" data-name="empty-second"></div>
            <div class="service empty" data-name="empty-third"></div>
            <div class="service empty" data-name="empty-4th"></div>
            <div class="service empty" data-name="empty-5th"></div>
            <div class="service empty" data-name="empty-6th"></div>
            <div class="service empty" data-name="empty-7th"></div>
            <div class="service empty" data-name="empty-8th"></div>
        </div>
        <div class="details hidden" data-name="details"></div>
    </div>
    <div data-element="section-footer"></div>
</section>