<section class="section-skills" data-section="skills" data-url-path="skills" data-scroll>
    <div class="">${slashImage}</div>
    <h2 class="">Skills & Tools</h2>
    <input type="text" class="search" data-skills-search placeholder="Suche">
    <div class="container">
        ${Object.keys(skills).map(level => `
        <div class="skill-level ${level}">
            <h3 class="level">${level}</h3>
            ${skills[level].map(s => `<span class="skill" data-text="${s.skill}" data-category="${s.category}">${s.skill}</span>`).join('')}
        </div>
        `).join('')}
    </div>
    ${sectionFooter}
</section>