<section class="section-splash" data-section="splash" data-url-path="splash" data-scroll>
    <div class="background">
        <video autoplay muted loop>
            <source src="" type="video/mp4"/>
        </video>
    </div>
    <div class="content">
        <h1>Matthias Kallenbach</h1>
        <span class="subtitle">Frontend-Entwickler</span>
    </div>
    <div class="badge github">
        <a href="https://github.com/seekwhencer/skwncr" target="_blank">${icons.github}</a>
    </div>
    <div class="badge vanilla">
        <a href="https://github.com/seekwhencer/skwncr" target="_blank">${icons.heart} vanilla javascript</a>
    </div>
    <div class="cta download">
        <a href="/pdf" target="_blank">${icons.download}<br />Download<br />PDF</a>
    </div>
    ${videoSelection}
    ${sectionFooter}
</section>
