<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="utf-8"/>
    <meta name="language" content="german">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="${viewPort}"/>

    <meta name="description" content="${description}">
    <meta name="keywords" content="${keywords}">
    <meta name="robots" content="${robots}">
    <meta name="distribution" content="web">

    <meta property="og:title" content="${title}"/>
    <meta property="og:description" content="${description}"/>
    <meta property="og:type" content="${og.type}"/>
    <meta property="og:url" content="${og.url}"/>
    <meta property="og:image" content="${og.image}"/>
    <meta property="og:image:alt" content="${og.imageAlt}"/>
    <meta property="og:locale" content="de_DE"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="${og.url}">
    <meta name="twitter:creator" content="Matthias Kallenbach">
    <meta name="twitter:title" content="${title}">
    <meta name="twitter:description" content="${description}">
    <meta name="twitter:image" content="${og.image}">

    <title>${title}</title>

    <link rel="icon" type="image/svg+xml" href="${icon}"/>

    <!--<script type="module" crossorigin src="${js}"></script>-->
    <!--<link rel="stylesheet" crossorigin href="${css}">-->

    <style>
        @font-face {
            font-family: "Barlow";
            font-weight: 100;
            font-display: swap;
            src: url(data:application/x-font-woff;charset=utf-8;base64,${fontBase64}) format("woff2");
        }

        ${cssPlain}
    </style>

    <meta name="google-site-verification" content="${google}"/>

</head>
<body style="background-color: black">
<div id="root"></div>
<script language="JavaScript">
    ${jsPlain}
</script>
</body>
</html>