$color-pink: rgb(181, 0, 255);
$color-ocean: #01172f;
$color-terra: #4c212a;
$color-leaf: #008e86;
$color-cloud: #0077bd;
$color-splash: #126df6;
$color-warn: #700;
$color-orange: #b70;
$color-primary: $color-leaf;
$color-text: #999;
$color-bg: #ddd;


// gray
$color-gray-a: rgba(255, 255, 255, 0.8);
$color-gray-b: rgba(255, 255, 255, 0.6);
$color-gray-c: rgba(255, 255, 255, 0.4);
$color-gray-d: rgba(255, 255, 255, 0.2);
$color-gray-e: rgba(255, 255, 255, 0.1);
$color-gray-f: rgba(255, 255, 255, 0.05);

// matte
$color-matte-a: rgba(0, 0, 0, 0.2);
$color-matte-b: rgba(0, 0, 0, 0.4);
$color-matte-c: rgba(0, 0, 0, 0.6);
$color-matte-d: rgba(0, 0, 0, 0.8);
$color-matte-e: rgba(0, 0, 0, 0.9);
$color-matte-f: rgba(0, 0, 0, 0.95);

$color-matte-bright: rgba(255, 255, 255, 0.2);
$color-matte-brighter: rgba(255, 255, 255, 0.4);
$color-matte-brightest: rgba(255, 255, 255, 0.6);
$color-matte-bloom: rgba(255, 255, 255, 0.8);

// colors
$color-one: #0B3952;
$color-two: #FCE6CF;
$color-three: #A3B18A;
$color-four: #607D8B;
$color-five: #4F6D7A;
$color-six: #561f15;

