.section-footer {
  position: absolute;
  bottom: 0;
  right: 15vw;
  overflow: hidden;
  display: flex;

  div {
    width: 20px;
    height: 5px;
    display: inline-block;
    overflow: hidden;
  }

  :nth-child(1) {
    background-color: $color-one;
  }

  :nth-child(2) {
    background-color: $color-two;
  }

  :nth-child(3) {
    background-color: $color-three;
  }

  :nth-child(4) {
    background-color: $color-four;
  }

  :nth-child(5) {
    background-color: $color-five;
  }

  :nth-child(6) {
    background-color: $color-six;
  }
}

