@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

footer {
  background-color: black;
  position: relative;
  color: colors.$color-gray-c;
  line-height: 1.5em;
  padding-bottom: 50px;

  .container {
    width: 800px;
    margin: auto;

    @include responsive.media-smartphone {
      width: 90vw;
    }
  }

  code, pre, blockquote {
    background-color: colors.$color-gray-e;
    padding: 3px 6px;
    margin: 0 3px;
    border-radius: 3px;
  }

  code {
    font-size: typo.$fs-xs;
    white-space: nowrap;
    border: 1px solid colors.$color-gray-e;
  }

  pre {

  }

  blockquote {
    margin: 10px 0;
    padding: 10px;

    code {
      font-weight: bold;
    }
  }

  h3 {
    margin: 0 10px 0 0;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    code {
      font-weight: bold;
    }
  }

  .section-footer {
    div {
      height: 20px;
    }
  }

}