@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

header {
  position: fixed;
  background-color: colors.$color-matte-d;
  width: 100%;
  height: 100px;
  z-index: 10000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease-in-out;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;

    li {
      display: inline-block;
      margin: 0;
      list-style-type: none;
      width: calc(100% / 6);
      font-size: typo.$fs-m;
      font-weight: 200;
      line-height: 100px;
      padding: 0 10px;
      position: relative;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      &:before {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-weight: 800;
        line-height: 100px;
        padding: 0 10px;
        transform: translateX(100%);
        transition: all 0.2s ease-in-out;

        @include responsive.media-smartphone {
          line-height: 48px;
        }
      }

      &.active {
        &:before {
          opacity: 1;
          transition: all 0.2s ease-in-out;
          transform: translateX(0);
        }
      }

      &.home {
        background-color: colors.$color-one;
        color: white;
      }

      &.person {
        background-color: colors.$color-two;

        &:before {
          content: 'Person';
          background-color: colors.$color-two;
        }
      }

      &.vita {
        background-color: colors.$color-three;

        &:before {
          content: 'Vita';
          background-color: colors.$color-three;
        }
      }

      &.skills {
        background-color: colors.$color-four;
        color: white;

        &:before {
          content: 'Skills';
          background-color: colors.$color-four;
        }
      }

      &.services {
        background-color: colors.$color-five;
        color: white;

        &:before {
          content: 'Services';
          background-color: colors.$color-five;
        }
      }

      &.projects {
        background-color: colors.$color-six;
        color: white;

        &:before {
          content: 'Projekte';
          background-color: colors.$color-six;
        }
      }

      &.impress {
        background-color: colors.$color-ocean;
        color: white;
        font-size: typo.$fs-m;

        &:before {
          content: 'Impressum';
          background-color: colors.$color-ocean;
        }
      }

      @include responsive.media-smartphone {
        width: initial;
        line-height: 48px;
        opacity: 1;
        font-size: typo.$fs-s;
      }
    }

    @include responsive.media-smartphone {
      display: block;
    }
  }

  &.splash {
    position: absolute;
    bottom: calc(50vh - 200px);
    background-color: inherit;
    box-shadow: 0 0 black;
    transition: all 0.5s ease-in-out;

    .menu {
      margin: auto;
      width: 1000px;

      li {
        margin: 5px;
        opacity: 0.5;
        border-radius: 5px;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 17%, 90% 0);

        &:nth-child(1) {
          display: none;
        }

        &:before {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          font-weight: 800;
          line-height: 100px;
          padding: 0 10px;
          transform: translateX(100%);
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;

          &:before {
            opacity: 1;
            transition: all 0.2s ease-in-out;
            transform: translateX(0);
          }

        }

        @include responsive.media-smartphone {
          opacity: 1;
        }

        &.impress {
          position: absolute;
          bottom: -200px;
          left: 10vw;
          font-size: typo.$fs-xs;
          letter-spacing: 0.05em;
          line-height: typo.$fs-xxl;
        }
      }

      @include responsive.media-smartphone {
        width: 80vw;
        margin: auto;
        display: block;
      }
    }
  }

  @include responsive.media-smartphone {
    width: 100vw;
    position: fixed;
    bottom: inherit;
  }


  &.splash {
    @include responsive.media-smartphone {
      width: 100vw;
      top: 50vh;
      bottom: inherit;
      position: fixed;
      z-index: 10000;
    }
  }

}

