@use "../global/colors";
@use "../global/typo";

header {
  position: fixed;
  background-color: colors.$color-matte-b;
  width: 100%;
  height: 100px;
  z-index: 10000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease-in-out;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;

    li {
      display: inline-block;
      margin: 0;
      list-style-type: none;
      width: calc(100% / 6);
      font-size: typo.$fs-l;
      font-weight: 200;
      line-height: 100px;
      padding: 0 10px;

      &:hover {
        cursor: pointer;
      }

      &.active {
        font-weight: 800;
      }

      &.home {
        background-color: colors.$color-one;
        color: white;
      }

      &.person {
        background-color: colors.$color-two;
      }

      &.vita {
        background-color: colors.$color-three;
      }

      &.skills {
        background-color: colors.$color-four;
        color: white;
      }

      &.services {
        background-color: colors.$color-five;
        color: white;
      }

      &.projects {
        background-color: colors.$color-six;
        color: white;
      }

      &.impress {
        background-color: colors.$color-ocean;
        color: white;
        font-size: typo.$fs-m;
      }
    }
  }

  &.splash {
    position: absolute;
    bottom: calc(50vh - 200px);
    background-color: inherit;
    box-shadow: 0 0 black;
    transition: all 0.5s ease-in-out;

    .menu {
      margin: auto;
      width: 1000px;

      li {
        margin: 5px;
        opacity: 0.5;

        &:nth-child(1) {
          display: none;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

