@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

.section-person {
  background-color: colors.$color-two;
  scroll-margin-top: 100px;

  h2 {
    strong {
      &.one {
        font-weight: 600;
      }

      &.two {
        font-weight: 900;
      }
    }
  }

  .container {
    width: 1400px;
    margin: auto;

    @include responsive.media-smartphone {
      width: 100vw;
    }
  }

  .content {
    .image {
      position: absolute;
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 150px;
      top: 150px;
      transform-origin: center center;

      @include responsive.media-smartphone {
        position: relative;
        float: left;
        top: initial;
        width: 150px;
        height: 150px;
        margin: 0 20px 20px 20px;
      }

      img {
        height: 100%;
        transform: translateX(-50px);

        @include responsive.media-smartphone {
          transform: translateX(-33px);
        }
      }
    }

    .text {
      line-height: 2em;
      width: 700px;
      margin: auto auto 150px auto;

      @include responsive.media-smartphone {
        width: 90vw;
        font-size: typo.$fs-xs;
        margin: auto auto 50px auto;
      }

      p {
        margin-bottom: 20px;
        font-size: typo.$fs-m;
      }
    }
  }

  .specs {
    width: 100%;

    .block {
      height: 100%;

      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {

      }

      display: inline-block;
      vertical-align: top;

      hr {
        margin: 30px 0;
        color: colors.$color-matte-a;
      }

      .row {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
      }

      .label {
        width: 100%;
        display: block;
        font-size: typo.$fs-xs;
        letter-spacing: 0.04em;
      }

      h4 {
        font-weight: 200;
        margin-bottom: 20px;
      }

      p {
        margin: 0 0 20px 0;
      }

      .social-icons {
        a {
          display: inline-block;
          background: black;
          padding: 3px 4px 2px 5px;
          color: colors.$color-two;
          text-align: center;
          border-radius: 10px;
          overflow: hidden;
          font-size: 0.5em;
          opacity: 0.5;
          transition: all 0.2s ease-in-out;

          &:hover {
            opacity: 1;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
          }

          svg {
            width: 70%;
          }
        }
      }
    }

    @include responsive.media-smartphone {
      width: 90vw;
      margin: auto;

      .block {
        display: inline-block;
        float: left;
        margin-bottom: 20px;

        &:nth-child(1) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 100%;
        }

        &:nth-child(4) {
          width: 100%;
        }
      }

    }

  }
}