@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

.section-projects {
  background-color: colors.$color-six;
  color: white;
  scroll-margin-top: 100px;

  .container {
    width: 1600px;
    margin: auto;
    position: relative;

    @include responsive.media-smartphone {
      width: 100vw;
      padding-top: 20px;
    }
  }

  .bot {
    width: 50px;
    margin: 100px auto 0 auto;

    svg {
      width: 50px;
      height: 50px;

      * {
        stroke-width: 1px;
      }
    }
  }

  .text-block {
    width: 900px;
    margin: auto;
    font-weight: 300;

    @include responsive.media-smartphone {
      width: 90vw;
    }

    p {
      line-height: typo.$fs-xl;
    }
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin-bottom: 100px;
    transition: transform 0.3s ease-in-out;

    .project {
      position: relative;
      width: calc(25% - 15px);
      height: 300px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      overflow: hidden;
      order: 2;
      z-index: 1;
      transition: transform 0.3s ease-in-out;

      @include responsive.media-smartphone {
        height: 250px;
        width: 90vw;
        margin: auto;
      }

      &--head {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        z-index: 10;

        .name {
          padding: 10px;
          color: colors.$color-gray-a;
          background-color: rgba(0, 0, 0, 0.8);

          @include responsive.media-smartphone {
            font-size: typo.$fs-s;
          }

        }

        .text {
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.9);
          color: colors.$color-gray-a;
          font-weight: 300;
          line-height: 1.6em;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);

          @include responsive.media-smartphone {
            font-size: typo.$fs-xs;
            line-height: 1.1em;
            font-weight: 400;
          }
        }
      }

      &--images {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        picture {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;

          &:nth-child(1) {
            z-index: 5;

            img {
              opacity: 0.7;
            }
          }

          &:nth-child(2) {
            img {
              opacity: 0;
            }
          }

          &:nth-child(3) {
            img {

              opacity: 0;
            }
          }

          &:nth-child(4) {
            img {
              opacity: 0;
            }
          }

          &:nth-child(5) {
            img {
              opacity: 0;
            }
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      &.highlight {
        order: 1;
        width: calc(calc(25% * 2) - 10px);
        height: 600px;
        display: inline-block;

        @include responsive.media-smartphone {
          height: 300px;
          width: 90vw;
          margin: auto;
        }

        .name {
          font-size: typo.$fs-xxl;
          text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

          @include responsive.media-smartphone {
            font-size: typo.$fs-s;
          }
        }


      }

      &:not(.highlight) {

      }

      &:hover {
        transform: scale(1.02);
        cursor: pointer;
        z-index: 10;
        transition: all 0.2s ease-in-out;

        picture {
          &:nth-child(1) {
            z-index: 5;

            img {
              opacity: 1;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }

      &.active {

      }
    }

    &.open {

    }
  }

  .project-stopper {
    position: absolute;
    top: 320px;
    right: 0;
    width: calc(50% - 10px);
    height: 280px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out 0.6s;
    opacity: 1;

    @include responsive.media-smartphone {
      display: none;
    }

    svg {
      transform: translateY(40px);
      width: 200px;
      height: 200px;
      stroke-width: 1;
      color: colors.$color-six;
    }
  }

  &.open {

    .container {
      width: 100vw;
      transition: 0.4s ease-in-out;
    }

    .projects {
      display: inline-block;
      width: auto;
      white-space: nowrap;
    }

    .project {
      display: inline-block;

      &.swiper-slide-active {
        transform: scale(1.3);
        z-index: 1000;
        transform-origin: center 50px;
        transition: transform 0.3s ease-in-out;
      }

      &--head {
        opacity: 1;
        transition: all 0.3s ease-in-out 0.3s;
      }

      .name {
        white-space: wrap;
        font-size: typo.$fs-s;
      }

      .text {
        white-space: wrap;
        font-size: typo.$fs-xs;
      }

      &.highlight {
        height: 300px;

        @include responsive.media-smartphone {
          height: 180px;
        }
      }

      &.active {
        .project--head {
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .project-stopper {
      transition: all 0.1s ease-in-out;
      opacity: 0;
    }
  }

  .details-block {
    margin-bottom: 100px;
  }

  .details {
    transition: all 0.3s ease-in-out;
    background-color: colors.$color-matte-b;
    overflow: hidden;

    @include responsive.media-smartphone {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px 20px;
    }

    &.hidden {
      opacity: 0;
      transition: all 0.3s ease-in-out;

      .name {
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease-in-out 1s;
      }

      .text {
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease-in-out 1s;
      }
    }

    &--head {
      background-color: colors.$color-matte-b;
      padding-top: 10px;
      overflow: hidden;

      @include responsive.media-smartphone {
        order: 1;
      }

      .name {
        padding: 10px 0 0 50px;
        font-size: typo.$fs-xxl;
        transform: translateY(0);
        transition: all 0.3s ease-in-out 0.3s;
        opacity: 1;


        @include responsive.media-smartphone {
          font-size: typo.$fs-m;
          padding: 10px 20px 0 20px;
        }
      }

      .text {
        padding: 10px 0 20px 50px;
        font-weight: 300;
        transform: translateY(0);
        opacity: 1;
        transition: all 0.3s ease-in-out 0.5s;

        @include responsive.media-smartphone {
          font-size: typo.$fs-xs;
          padding: 10px 20px 20px 20px;
        }
      }
    }

    &--image {
      float: left;
      overflow: hidden;

      @include responsive.media-smartphone {
        width: 100vw;
        float: none;
        order: 2;
        margin-top: -20px;
      }

      picture {
        img {
          width: 50vw;
          object-fit: cover;
          padding: 10px;
          background-color: black;
          margin: 1px 0;
          display: block;

          @include responsive.media-smartphone {
            width: 100vw;
            padding: 0;
          }
        }
      }
    }

    &--images {
      overflow: hidden;
      padding: 10px 0 10px 50px;

      @include responsive.media-smartphone {
        order: 3;
        padding: 0 0 10px 10px;
      }

      picture {
        display: inline-block;
        margin: 0 10px 10px 0;
        padding: 2px;

        @include responsive.media-smartphone {
          width: calc(25% - 10px);
          height: 100px;
          padding: 0;
          margin: 0 5px 5px 0;
        }

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          background-color: black;
          margin: 0;
          display: block;
          border-radius: 10px;
          opacity: 0.8;

          @include responsive.media-smartphone {
            width: 100%;
            height: 100%;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }

    &--description {
      overflow: hidden;
      padding: 10px 50px 10px 50px;
      max-width: calc(50vw - 140px);

      @include responsive.media-smartphone {
        order: 4;
        max-width: initial;
        width: 90vw;
        margin: auto;
        padding: 0;
      }

      ul {
        li {
          padding: 10px 0;
          font-size: typo.$fs-m;
          list-style-type: square;
          font-weight: 300;

          @include responsive.media-smartphone {
            font-size: typo.$fs-s;
          }

        }
      }

      .pills {
        .pill {

        }
      }
    }

    &--skills {
      padding: 50px 50px 40px 50px;
      display: block;
      overflow: hidden;
      background-color: colors.$color-matte-b;

      @include responsive.media-smartphone {
        order: 5;
      }

      .skill {
        background-color: colors.$color-gray-b;
        padding: 4px 10px;
        font-weight: 500;
        font-size: typo.$fs-s;
        color: colors.$color-six;
        border-radius: 10px;
        display: inline-block;
        margin: 0 5px 10px 0;
        opacity: 0.6;
        transition: all 0.6s ease-in-out;

        &:hover {
          opacity: 1;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          background-color: white;
        }
      }
    }

    &--description-long {
      padding: 50px;
      display: block;
      overflow: hidden;
      columns: 2;
      column-gap: 50px;

      @include responsive.media-smartphone {
        order: 6;
        columns: 1;
        padding: 20px;
      }

      h4 {
        margin: 30px 0 10px 0;

        &:first-child {
          margin-top: 0;
        }

      }

      ul {
        margin: 10px 0 10px 0;

        li {
          list-style-type: square;
          font-weight: 300;
          margin-bottom: 5px;
        }
      }

      p {
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 1.5em;
      }
    }
  }

  &.open {
    .projects {
      transition: all 0.3s ease-in-out;

      @include responsive.media-smartphone {
        margin-bottom: 50px;
      }

      .project {
        transition: transform 0.3s ease-in-out;

        @include responsive.media-smartphone {
          height: 150px;
        }

        &--head {
          .name {
            @include responsive.media-smartphone {
              font-size: typo.$fs-xs;
              line-height: 1.3em;
            }
          }

          .text {
            @include responsive.media-smartphone {
              font-size: typo.$fs-xxs;
              line-height: 1.3em;
            }
          }
        }

        &.highlight {
          .name {
            font-size: typo.$fs-s;

            @include responsive.media-smartphone {
              font-size: typo.$fs-xs;
              line-height: 1.3em;
            }
          }
        }
      }
    }
  }
}