@use "../global/colors";
@use "../global/typo";

.section-services {
  background-color: colors.$color-five;
  color: white;
  scroll-margin-top: 100px;


  .container {
    width: 50vw;
    margin: auto;
    column-count: 3;
    gap: 40px;
  }

  .service {
    height: 200px;
    padding: 70px 0 0 0;
    margin: 0 0 50px 0;
    position: relative;
    background-color:black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;

    .icon {
      position: absolute;
      bottom: -10px;
      left: calc(50% - 30px);
      display: inline-block;
      transform: scale(2);
      transition: all 0.3s ease-in-out;
      background-color: colors.$color-gray-a;
      border-radius: 50px;
      height: 36px;
      width: 36px;
      border: 2px solid black;


      svg {
        margin: 6px;

        * {
          color: black;
        }
      }
    }

    .name {
      position: absolute;
      bottom: 60px;
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      font-weight: 700;
      font-size: typo.$fs-l;
      background-color: colors.$color-gray-f;
      color: white;
    }

    .text {
      padding: 20px;
      color: white;
      position: absolute;
      top: 20px;
      font-weight: 300;
      line-height: 1.6em;
    }

    &:hover {
      transition: opacity 0.2s ease-in-out;
      cursor: pointer;
      opacity: 1;

      .icon {
        background-color: colors.$color-three;
      }

      svg {
        * {
          color: black;
        }
      }

      .name {
        background-color: colors.$color-three;
        color: colors.$color-matte-d;
      }
    }
  }
}