@use "../global/colors";
@use "../global/typo";

.section-skills {
  background-color: colors.$color-four;
  background-image: url('/images/splash.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: multiply;
  scroll-margin-top: 100px;

  h2 {
    color: white;
  }

  .container {
    width: 1200px;
    margin: auto;
  }

  .skill-level {
    margin-bottom: 50px;

    h3 {
      color: colors.$color-gray-a;
      padding: 2px;
      line-height: 2em;
      font-size: typo.$fs-s;
      font-weight: 300;
    }

    .skill {
      position: relative;
      color: colors.$color-matte-d;
      background-color: white;
      padding: 3px 10px;
      margin: 0 10px 10px 0;
      display: inline-block;
      border-radius: 10px;
      font-weight: 400;
      font-size: typo.$fs-s;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      z-index: 1;
      border: 3px solid colors.$color-four;

      &:before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        content: attr(data-text);
        color: colors.$color-matte-d;
        background-color: white;
        padding: 3px 10px;
        border-radius: 10px;
        font-size: typo.$fs-s;
        font-weight: 800;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        z-index: 1;
        border: 3px solid colors.$color-four;
        text-align: center;
        opacity: 0;
        text-wrap: nowrap;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        &:before {
          background-color: colors.$color-two;
          opacity: 1;
          transition: all 0.1s ease-in-out;
          transform: scale(1.42) rotate(1deg);
          transform-origin: bottom right;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          z-index: 1000;
          border: 3px solid colors.$color-four;
          cursor: pointer;
          z-index: 1000;
        }
      }

      &.like {
        border: 3px solid colors.$color-six;
        background-color: colors.$color-six;
        color: white;

        &:before {
          background-color: colors.$color-six;
          border: 3px solid colors.$color-six;
          color: white;

        }


        &:after {
          position: absolute;
          top: -10px;
          right: -10px;
          height: 20px;
          width: 20px;
          content: '❤';
          color: colors.$color-six;
          background-color: white;
          border-radius: 20px;
          font-size: 14px;
          text-align: center;
          line-height: 20px;
          border: 3px solid colors.$color-six;
          transition: all 0.1s ease-in-out;
        }

        &:hover {
          &:after {
            top: -22px;
            right: -18px;
            z-index: 1000;

          }
        }
      }


    }

    &.expert {
      .skill {
        font-size: typo.$fs-l;
      }
    }
  }
}

