@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

.section-splash {
  background: linear-gradient(0deg, colors.$color-one 0%, black 100%);
  height: 100vh;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  scroll-margin-top: 0;

  .background {
    position: absolute;
    bottom: 0;
    width: 100vw;
    mix-blend-mode: overlay;
    overflow: hidden;

    video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }
  }

  .content {
    height: 100vh;
    width: 100vw;
    position: absolute;

    h1 {
      position: absolute;
      color: white;
      font-weight: 100;
      font-size: typo.$fs-omg;
      bottom: calc(70vh);
      width: 100vw;
      text-align: center;
      text-wrap: nowrap;

      @include responsive.media-phone {
        font-size: typo.$fs-xl;
      }
    }

    .subtitle {
      position: absolute;
      bottom: calc(70vh - 30px);
      width: 100vw;
      display: block;
      color: white;
      font-weight: 100;
      font-size: typo.$fs-l;
      text-align: center;

      @include responsive.media-phone {
        font-size: typo.$fs-l;
      }
    }
  }

  .badge {
    position: absolute;
    text-align: center;
    background-color: white;
    width: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    padding: 5px;

    &.github {
      top: 20px;
      right: -70px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    }

    &.vanilla {
      top: 45px;
      right: -50px;
      background-color: colors.$color-gray-b;
      font-size: typo.$fs-xxs;

      svg {
        height: 10px;
        width: 10px;
        transform: translateY(2px);

        * {
          fill: black;
        }
      }
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .cta {
    position: absolute;
    bottom: 20px;
    left: 20px;
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    width: initial;
    aspect-ratio: 1/cos(30deg);

    height: 75px;
    display: block;
    background: colors.$color-two;
    transform: scale(0.8);
    opacity: 0.6;
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 1;
      cursor: pointer;
      transform: scale(1);
      transition: all 0.1s ease-in-out;
    }

    a {
      padding-top: 5px;
      color: black;
      text-decoration: none;
      text-align: center;
      width: 100%;
      display: block;
      font-size: typo.$fs-xs;
    }
  }

  .video-selection {
    position: absolute;
    bottom: 10px;
    width: 100vw;
    margin: auto;
    color: white;
    text-align: center;

    @include responsive.media-smartphone {
      display: none;
    }

    a {
      color: white;
      text-decoration: none;
      border: 1px solid white;
      font-size: typo.$fs-xs;
      display: inline-block;
      margin-right: 5px;
      border-radius: 3px;
      height: 16px;
      width: 35px;
      overflow: hidden;
      line-height: 14px;

      &:first-child {
        background: white;

        svg {
          width: 17px;
          transform: translateY(-4px);
          color: black;
        }
      }
    }
  }
}


