@use "../global/colors";
@use "../global/typo";

.section-splash {
  background: linear-gradient(0deg, colors.$color-one 0%, black 100%);
  height: 100vh;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  scroll-margin-top: 0;

  .background {
    position: absolute;
    bottom: 0;
    width: 100vw;
    mix-blend-mode: overlay;
    overflow: hidden;

    video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }
  }

  .content {
    height: 100vh;
    width: 100vw;
    position: absolute;

    h1 {
      position: absolute;
      color: white;
      font-weight: 100;
      font-size: typo.$fs-omg;
      bottom: calc(50vh);
      width: 100vw;
      text-align: center;
      text-wrap: nowrap;
    }

    .subtitle {
      position: absolute;
      bottom: calc(50vh - 30px);
      width: 100vw;
      display: block;
      color: white;
      font-weight: 100;
      font-size: typo.$fs-l;
      text-align: center;
    }
  }
}


