@use "../global/colors";
@use "../global/typo";
@use "../global/responsive";

.section-vita {
  background-color: colors.$color-three;
  scroll-margin-top: 100px;

  .container {
    width: 600px;
    margin: auto;

    .vita:last-child {
      padding-bottom: 0;
    }

    @include responsive.media-smartphone {
      width: 90vw;
      margin: auto;
    }
  }

  .more {
    display: inherit;

    &.hidden {
      display: none;
    }
  }

  .button-block {
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;

    .button-more {
      background-color: colors.$color-gray-d;
      padding: 0 20px 0 40px;
      border: 2px solid black;
      color: black;
      border-radius: 20px;
      cursor: pointer;
      line-height: 20px;
      height: 30px;
      text-align: center;
      position: relative;
      font-weight: 400;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        background-color: colors.$color-gray-a;

        i {
          svg {
            * {
              color: white;
            }
          }
        }
      }

      i {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 18px;
        height: 18px;
        background: black;
        padding: 5px;
        border-radius: 20px;

        svg {
          stroke-width: 3px;
          width: 60%;
          height: 60%;
          transform: translate3d(-1px, -2px, 0);

          * {
            color: colors.$color-three;
          }
        }
      }
    }
  }

  .vita {
    display: block;
    position: relative;
    padding-bottom: 50px;

    &--time {
      position: absolute;
      left: -220px;
      width: 200px;
      text-align: right;
      overflow: hidden;
      top: 0;
    }

    &--company {
      margin: 20px 0 20px 0;
    }

    &--company-industry {
      font-size: typo.$fs-xs;
    }

    &--description {
      line-height: typo.$fs-l;
    }

    &--work {
      &--item {
        margin-bottom: 5px;
      }
    }

    &--stack {
      margin-top: 20px;

      &--skill {
        color: colors.$color-three;
        background-color: black;
        padding: 2px 5px;
        margin: 0 5px 5px 0;
        display: inline-block;
        border-radius: 4px;
        font-weight: 800;
        font-size: typo.$fs-xs;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
      }
    }

    &:hover {
      .vita--stack--skill {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}