<div class="project${highlight ? ` highlight` : ''}" data-project>
    <div class="project--head">
        <h3 class="name">${title}</h3>
        <div class="text">${description}</div>
    </div>
    <div class="project--image">
        ${images.length > 0 ? `
        <picture>
            <source media="(max-width: 799px)" srcset="" data-src="${images[0].file}?s=xs"/>
            <source media="(min-width: 800px)" srcset="" data-src="${images[0].file}?s=s"/>
            <img src="" alt="" data-src="${images[0].file}"/>
        </picture>
        ` : ''}
    </div>
</div>