<!DOCTYPE html>
<html lang="${documentLanguage}">
${documentHeader}
<body style="background-color: black">
<div id="root">
    ${pageNavigation}
    <main>
        ${section.splash}
        ${section.person}
        ${section.vita}
        ${section.skills}
        ${section.service}
        ${section.projects}
        ${section.disclaimer}
    </main>
    <footer>
        ${pageFooter}
    </footer>
</div>
${jsPlain !== '' ? `
<script>
    ${jsPlain}
</script>
` : ''}

${process.env?.ENV !== 'production' ? `
<script type="module" src="/@vite/client"></script>
<script type="module" src="/src/Home.js" crossorigin="anonymous"></script>
` : ''}
</body>
</html>
