<!DOCTYPE html>
<html lang="${documentLanguage}">
${documentHeader}
<body>
<style>
    @media print {
        @page {
            @bottom-left-corner {
                content: "${date}"
            }
        }
    }
</style>
${section.intro}
${section.person}
${section.skills}
${section.vita}
${section.projects}
${jsPlain !== '' ? `
<script>
    ${jsPlain}
</script>
` : ''}
${process.env?.ENV !== 'production' ? `
<script type="module" src="/@vite/client"></script>
<script type="module" src="/src/Print.js" crossorigin="anonymous"></script>
` : ''}
</body>
</html>
